<!-- Purchase -->
<div class="row mp-0 login-background">
  <div class="twelve columns mp-0">

    <div class="card-content" style="overflow: hidden;height:100%; position:fixed">
      <div class="listview-search">
        <label class="audible" for="gridfilter">Search</label>
        <span class="searchfield-wrapper">
          <input class="searchfield" placeholder="Search Purchase Orders" name="searchfield" id="gridfilter" data-options="{clearable: true}"
            autocomplete="off">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon-search"></use>
          </svg>
          <svg class="close is-empty icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon-close"></use>
          </svg>
        </span>
      </div>

      <div class="listview is-selectable" id="search-listview" role="listbox" style="background:white">
        <ul role="presentation" *ngFor="let cust of purchaseorder">
          <li role="option" aria-posinset="1" aria-setsize="12" tabindex="0">
            <p class="listview-heading" style="width: 340.984px;">Purchase Order No : {{cust[0].Value}}</p>
            <p class="listview-subheading">Vendor Num : {{cust[1].Value | currency}}</p>
            <p class="listview-subheading">Vendor Name : {{cust[2].Value}}</p>
            <p class="listview-subheading">Vendor Address : {{cust[3].Value}}</p>
            <p class="listview-subheading">Vendor Contact : {{cust[4].Value}}</p>
            <p class="listview-micro">Vendor Phone: {{cust[5].Value}}</p>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>




<!-- Customers -->