<div class="row p-0 m-0">
  <div class="column p-0">
    <div class="card-content s-about">
      <div class="container">
        <h1 class="s-about-label">Infor ERP SyteLine</h1>
        <p>Competition continues to increase in discrete manufacturing.&nbsp; To stay ahead, you need to get to market quicker
          and do a better job of matching up supply with demand. Personalize your enterprise resource planning system, focus
          on your work, and be confident you've got the right software and support team for the job...all with Infor ERP
          SyteLine.
      </div>
    </div>
  </div>
</div>