<div class="row mp-0 login-background">
  <div class="twelve columns mp-0">

    <div class="wrapper " style="margin-top:25%">
      <section class="signin" role="main">
        <img src="https://csgde90100be.inforbc.com/CSIMobile/Syteline.png" alt="Name">

        <form class="form" #LogInForm="ngForm" (submit)="LogIn()" novalidate>
          <div class="field">
            <label for="username-display" class="label">User</label>
            <input type="text" [(ngModel)]="username" name="username" class="required background-input" required>
          </div>

          <div class="field">
            <label for="password-display" class="label"> Password</label>
            <input type="password" [(ngModel)]="password" name="paswword" class="required background-input" required>
          </div>

          <div class="field">
            <label for="Config" class="label">Config</label>
            <select [(ngModel)]="config" name="config" class="csi-m-dropdown" required>
              <option *ngFor="let config of configuration" [value]="config">{{config}}</option>
            </select>
          </div>

          <button [disabled]="!LogInForm.valid" class="btn-primary hide-focus" type="submit">Sign in</button>

        </form>
      </section>
    </div>

  </div>
</div>