.background-input {
  background: white;
}
.label {
  color: white;
}
.csi-m-dropdown {
  width: 100%;
  padding: 12px;
  border: solid 1px #fff;
  height: 30px;
}

.login-background {
  background: url("https://csgde90100be.inforbc.com/CSIMobile/login.jpeg");
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: repeat-x;
}

select {
  border-radius: 0px !important;
}
