<nav id="application-menu" class="application-menu" [ngClass]="{'is-open':toggleMenu}">

  <div class="accordion panel inverse has-icons cis-m-appmenu" data-options="{'allowOnePane': false}">

    <div class="accordion-content accordion-static-panel">
      <div class="content csi-m-content">
        <span class="name">{{user}}</span>
        <button type="button" class="btn-menu inverse hide-focus csi-m-logbtn" *ngIf="isAuthenticated" (click)="logOut()">
          <span>Log Out</span>
        </button>
        <button *ngIf="!isAuthenticated" (click)="onMenuClick()" [routerLink]="['login']" routerLinkActive="active" type="button"
          class="btn-menu inverse hide-focus">
          <span>Log In</span>
        </button>
      </div>
    </div>

    <div class="accordion-header hide-focus" role="presentation" *ngIf="isAuthenticated">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-home"></use>
      </svg>
      <a [routerLink]="['/home']" routerLinkActive="active" (click)="onMenuClick()">
        <span>Home</span>
      </a>
    </div>

    <div class="accordion-header hide-focus" role="presentation" *ngIf="isAuthenticated">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-user"></use>
      </svg>
      <a [routerLink]="['/customers']" routerLinkActive="active" (click)="onMenuClick()">
        <span>Customers</span>
      </a>
    </div>

    <div class="accordion-header hide-focus" role="presentation" *ngIf="isAuthenticated">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-clock"></use>
      </svg>
      <a [routerLink]="['/purchaseorder']" routerLinkActive="active" (click)="onMenuClick()">
        <span>Purchase Orders</span>
      </a>
    </div>

    <div class="accordion-header hide-focus" role="presentation">
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-home"></use>
      </svg>
      <a [routerLink]="['/about']" routerLinkActive="active" (click)="onMenuClick()">
        <span>About</span>
      </a>
    </div>


  </div>

  <div class="branding">
    <svg class="icon" viewBox="0 0 34 34" focusable="false" aria-hidden="true" role="presentation">
      <use xlink:href="#icon-logo"></use>
    </svg>
  </div>
</nav>
<div id="maincontent" class="page-container" role="main">


  <header class="header is-personalizable">
    <a href="#maincontent" class="skip-link" data-translate="text">SkipToMain</a>

    <div class="toolbar do-resize has-title has-more-button has-title-button" role="toolbar" aria-label="SoHo XI">

      <div class="title longpress-target" style="width: 796px;">

        <button *ngIf="!showBackButton" (click)="onMenuClick()" class="btn-icon application-menu-trigger hide-focus" type="button"
          tabindex="0">
          <span class="audible">Show navigation</span>
          <span class="icon app-header">
            <span class="one"></span>
            <span class="two"></span>
            <span class="three"></span>
          </span>
        </button>
        <button *ngIf="showBackButton" class="btn-icon application-menu-trigger hide-focus" type="button" (click)="onBackClick()">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon-previous-page"></use>
          </svg>
        </button>

        <h1>
          <span>{{title}}</span>
        </h1>

      </div>

    </div>

  </header>

  <div class="page-container scrollable" role="main">


    <!-- <div class="field ">
                <button type="button " id="appmenu-test-trigger " class="btn-icon application-menu-trigger hide-focus ">
                  <svg class="icon " viewBox="0 0 32 32 " focusable="false " aria-hidden="true " role="presentation ">
                    <use xlink:href="#icon-menu "></use>
                  </svg>
                  <span class="audible ">Open Menu</span>
                </button>
              </div> -->
    <router-outlet></router-outlet>

  </div>



  <div class="tooltip is-hidden " role="tooltip " id="tooltip ">
    <div class="arrow "></div>
    <div class="tooltip-content ">
      <p>Show navigation SoHo XI</p>
    </div>
  </div>
</div>