<form id="example-mulitcolumn-form" class="validation-active">
    <div class="row">
        <div class="full column mt-5">
            <div class="compound-field">
                <div class="field">
                    <label for="example-mulitcolumn-first" class="required">Customer Order</label>
                    <input type="text" id="example-mulitcolumn-first" name="first-name" class="input-sm required">
                </div>
                <div class=" field ">
                    <label for="example-mulitcolumn-last " class="required ">Order Date</label>
                    <input type="text " id="example-mulitcolumn-last " class="input-sm required">
                </div>
                <div class="field ">
                    <label for="example-mulitcolumn-last " class="required ">Price</label>
                    <input type="text " id="example-mulitcolumn-last " class="input-sm required " name="last-name
                  " aria-required="true " data-validate="required ">
                </div>
                <div class="field ">
                    <label for="example-mulitcolumn-last " class="required ">Status</label>
                    <input type="text " id="example-mulitcolumn-last " class="input-sm required " name="last-name
                    " aria-required="true " data-validate="required ">
                </div>

                <div class="field ">
                    <label for="example-mulitcolumn-last " class="required ">Contact</label>
                    <input type="text " id="example-mulitcolumn-last " class="input-sm required " name="last-name
                      " aria-required="true " data-validate="required ">
                </div>

                <div class="field ">
                    <label for="example-mulitcolumn-last " class="required ">Bill To Contact</label>
                    <input type="text " id="example-mulitcolumn-last " class="input-sm required " name="last-name
                        " aria-required="true " data-validate="required ">
                </div>

                <div class="field ">
                    <label for="example-mulitcolumn-last " class="required ">Ship To Contact</label>
                    <input type="text " id="example-mulitcolumn-last " class="input-sm required " name="last-name
                          " aria-required="true " data-validate="required ">
                </div>

            </div>

            <button type="submit " class="btn-primary hide-focus ">Register</button>

        </div>

    </div>
</form>