/* Global Custom CSS */

.mp-0 {
  padding: 0 !important;
  margin: 0 !important;
}
.mt-1 {
  padding-top: 3px;
}
.mt-2 {
  padding-top: 6px;
}
.mt-3 {
  padding-top: 9px;
}
.mt-4 {
  padding-top: 12px;
}
.mt-5 {
  margin-top: 15px;
}
.p-0 {
  padding: 0px !important;
}
.p-1 {
  padding: 3px !important;
}
.p-2 {
  padding: 6px !important;
}
.p-3 {
  padding: 9px !important;
}
.p-4 {
  padding: 12px !important;
}
.p-5 {
  padding: 15px !important;
}
.pt-0 {
  padding-top: 0px !important;
}
.pt-1 {
  padding-top: 3px !important;
}
.pt-2 {
  padding-top: 6px !important;
}

.pt-3 {
  padding-top: 9px !important;
}

.pt-4 {
  padding-top: 12px !important;
}

.pt-5 {
  padding-top: 15px !important;
}

.m-0 {
  margin: 0px !important;
}
.container {
  padding: 20px;
}
/* Card */
.csi-m-content-area{
  padding:10px;
}
.card-row-6{
  margin:0 !important;
  min-height: 210px !important;
}

.card-row-12{
  margin:0 !important;
  min-height: 300px !important;
}
.card-half{
  height: 0px !important;
  min-height: 120px !important;
  margin: 0px  !important;
}
/* Grid */
.row{
  margin:0px !important;
}

