<div class="row">
  <div class="six columns one-half-mobile p-2">
    <div class="card card-half p-5">
      <p>Income Vs Target</p>
      <h1 class="csi-m-card-content p-2">$ 9.2632</h1>
    </div>
  </div>

  <div class="six columns one-half-mobile p-2">
    <div class="card card-half p-5">
      <p>Income Vs Target</p>
      <h1 class="csi-m-card-content p-2">$ 9.2632</h1>

    </div>
  </div>
</div>


<div class="row">
  <div class="six columns one-mobile p-2">
    <div class="card card-row-6 p-5">
      <p>Income Vs Target</p>
      <!-- <div id="bar-example" class="chart-container bar-chart bar-chart-stacked"> -->
      <div appChart class="chart-container bar-chart bar-chart-stacked" [dataset]="dataset" [charttype]="charttype"></div>
      <!-- </div> -->
    </div>
  </div>
</div>

<div class="row">
  <div class="six columns one-half-mobile p-2">
    <div class="card card-half p-5">
      <p>Income Vs Target</p>
      <h1 class="csi-m-card-content p-2">$ 9.2632</h1>
    </div>
  </div>

  <div class="six columns one-half-mobile p-2">
    <div class="card card-half">
      <div class="flipimage">
        <img class="img-one" src="https://www.udtrucks.com/~/media.axd/images/central/trucks/new-quon-p9220/main-all-new-quon-thumbnail_460x250.png" alt="" sizes="" srcset="">
        <img class="img-two" src="https://melbournechapter.net/images/transparent-steel.png">
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="six columns one-mobile p-2">
    <div class="card card-row-12 p-5">
      <p>Cash Impact</p>
      <!-- <div id="bar-example" class="chart-container bar-chart bar-chart-stacked"> -->
      <div appChart class="chart-container bar-chart bar-chart-stacked" [dataset]="cashImpactdataset" [charttype]="cashImpactcharttype"></div>
      <!-- </div> -->
    </div>
  </div>
</div>