.csi-m-card-content {
  font-size: 32px;
}

.csi-m-card-content-bar-graph {
  font-size: 60px;
}

/* Flip image animation */
.img-one {
  width: 300px;
  height: 300px;
}
.img-two {
  width: 300px;
  height: 300px;
}
.flip-image {
  width: 300px;
  height: 300px;
  display: inline-block;
  position: relative;
  transition: all;
  transition-duration: 3s;
  transition-timing-function: ease-out;
  animation: flip 2s linear;
  animation-fill-mode: forwards;
}
.flipimage {
  overflow: hidden;
  position: absolute;
}
.img-one {
  display: none;
  width: 100%;
  height: 100px;
}
.img-two {
  display: none;
  width: 100%;
  height: 100px;
}
@keyframes flip {
  0% {
    top: 300px;
  }
  25% {
    top: 0px;
  }
  100% {
    top: 0px;
  }
}