<!-- Customers -->
<div class="row mp-0 login-background">
  <div class="twelve columns mp-0">

    <div class="card-content" style="overflow: hidden;height:100%; position:fixed">
      <div class="listview-search">
        <label class="audible" for="gridfilter">Search</label>
        <span class="searchfield-wrapper">
          <input class="searchfield" [(ngModel)]="searchText" placeholder="Search Customers" name="searchfield" id="gridfilter" data-options="{clearable: true}"
            autocomplete="off">
          <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon-search"></use>
          </svg>
          <svg class="close is-empty icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon-close"></use>
          </svg>
        </span>
      </div>

      <div class="listview is-selectable" id="search-listview" role="listbox" style="background:white">
        <ul role="presentation" *ngFor="let cust of customers | filterCust : searchText">
          <li (click)="onClickCustomer(cust[0].Value)" role="option">
            <p>{{cust[1].Value}}</p>
            <p>{{cust[2].Value}}</p>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>




<!-- Customers -->